<div class="footer">
    <div class="pull-right">
        IDS Infotech Ltd
    </div>
    <div>
       
        <strong>© 2018</strong> IDS Infotech Ltd. All Rights Reserved.| Privacy policy 
    </div>
</div>
